.fila_pic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: fit-content;
    height: fit-content;
}

.cuadro{
    background-color: grey;
    cursor: pointer;
    border-radius: 7px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
}

#c1, #c5, #c9, #c13{
    margin-left: 0;
}

#c4, #c8, #c12, #c16{
    margin-right: 0;
}

#c1, #c2, #c3, #c4{
    margin-top: 0;
}

#c13, #c14, #c15, #c16{
    margin-bottom: 0;
}

.cuadro img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.cuadro:active{
    transform: scale(0.95) !important;
}

.cuadro:hover{
    transform: scale(1.05);
}

.tittle_cuadro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

#tittle_1, #tittle_2{
    text-align: center;
}

#tittle_1{
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
    font-size: 23px;
    font-weight: 400;
}

#tittle_2{
    max-width: 600px;
    margin-bottom: 45px;
}

.next_btn{
    margin: 0;
    width: 45px;
    height: 45px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: #F5A0A1;
    visibility: hidden;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.flecha{
    width: 28px;
    height: auto;
    margin: 0;
    margin-bottom: 5px;
}

.flecha:hover{
    transform: scale(1.10);
}

.next_btn:hover{
    transform: scale(1.10);
}